<h1>Panels</h1>

<panel type="warning"
           backgroundColor="red"
           headerText="Warning"
           contentText="Lorem ipsum dolor sit amet, diam tortor egestas mus risus lectus suspendisse, vel aliquam pharetra massa esse, lobortis convallis. Nunc venenatis eu et gravida, libero integer risus, arcu diam diam sodales ut, cras diam velit. Lacus erat quam, wisi in eu suspendisse, in vel turpis. Molestie consectetuer quidem, lorem sed, qui wisi, dolore varius integer justo eget. Blandit justo accumsan, sed pellentesque augue arcu donec, ac quam est amet, justo accumsan eros iaculis rutrum. Phasellus quis cras aptent aliquam sit, faucibus quis mauris phasellus sit mi porta. A justo est augue gravida. Sodales adipiscing enim volutpat semper, sed pede gravida facilisis risus. Posuere amet, vitae nunc sed parturient quam sit orci, tincidunt at velit ipsum, at suscipit ipsum ut morbi, vel ipsum nec pellentesque lacus scelerisque dolor. Fusce odit accumsan morbi in et et, eu scelerisque tellus, donec ut ut nulla, magnis cras urna.">
</panel>
