/* You can add global styles to this file, and also import other style files */
button {
  border:1px solid black;
  background:white;
  color: black;
  cursor: pointer;
  padding: 0.5em 1em;
}

button:hover {
  background: black;
  color: white;
}
