.panel {
  border: 1px solid black;
  overflow: hidden;
  padding-bottom: 1em;
}
  .panel.warning {
    border-color: red;
  }

  .panel.success {
    border-color: green;
  }

  .panel.primary {
    border-color: blue;
  }

